<nav class='navbar navbar-expand-lg navbar-dark bg-light py-0'>
    <div class='container-fluid'>
        <div class='collapse navbar-collapse'>
            <ul class='navbar-nav bg-light'>
                <li class='nav-item border-0 border-end border-dark'>

                    <button
                        class='btn btn-white dropdown-toggle'
                        type='button'
                        id='dropdownMenuButton1'
                        data-bs-toggle='dropdown'
                        aria-expanded='false'
                    >Sản phẩm</button>

                    <ul class='dropdown-menu'>
                        <li><a class='dropdown-item' href='/category/beds'>Giường</a></li>
                        <li><a class='dropdown-item' href='/category/closets'>Tủ quần áo</a></li>
                        <li><a class='dropdown-item' href='/category/blankets'>Chăn</a></li>
                        <li><a class='dropdown-item' href='/category/bedsheets'>Ga</a></li>
                        <li><a class='dropdown-item' href='/category/pillows'>Gối</a></li>
                        <li><a class='dropdown-item' href='/category/mattresses'>Đệm</a></li>
                    </ul>

                </li>

                <li class='nav-item border-0 border-end border-dark'>
                    <a class='nav-link' href='#khuyenmai'>Sản phẩm nổi bật</a>
                </li>

                <li class='nav-item border-0 border-end border-dark'>
                    <a class='nav-link' href='#trendingSection'>Sản phẩm bán chạy</a>
                </li>

            </ul>
        </div>
    </div>
</nav>